{% extends 'base/base.html' %}

{% load static %}

{% block page_title %}
Login
{% endblock page_title %}

{% block styles %}
<link href="{% static 'edove/css/login.css' %}" type="text/css" rel="stylesheet">
{% endblock styles %}

{% block nav %}
{% include 'base/snippets/navbar.html' %}
{% endblock nav %}

{% block content %}

<div style="display: flex; flex-direction: row; align-items: flex-start; justify-content: space-between;">
    <div class="my-4 mx-5 form-section" >
        <div class="form-headline mt-5" style="display: flex; flex-direction: column; justify-content: center; align-self: flex-start;">
            <h1 id="form-text-main">Masuk ke <b style="font-weight: 700;">Akunmu</b></h1>
            <p class="pr-5 mr-4">Selamat datang! Masuk dan mulailah mengerjakan soal.</p>
        </div>

        <div class="form-body my-3">
        
            <form method="post" action="{% url 'masuk' %}">
                {% csrf_token %}
                <div class="form-container mb-4">
                    <label for="email">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-container mb-4">
                    <label for="Password">Kata Sandi</label>
                    {{ form.password }}
                </div>
                
                <div class="remember-me" style="display: flex; flex-direction: row;">
                    <input style="margin-top: 0.4rem; margin-right: 8px;" type="checkbox" id="ingatSaya">
                    <p>Ingat saya!</p>
                </div>
                <div class="form-action mt-3" >
                    <button type="submit" class="btn btn-submit mb-3">Masuk</button>
                    <p>Belum punya akun? <b><a href="/u/daftar">Daftar di sini</a></b></p>
                </div>
            </form>

        </div>
    </div>
    <div class="form-decorator">
        <div id="decorator-auth">
            <img src="{% static 'edove/img/edove-logo-white.png' %}" alt="" id="edove-resize-1">
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="{% static 'edove/js/login.js' %}"></script>
{% endblock script %}