{% extends 'base/base.html' %}
{% load static %}

{% block page_title %}
Tryout
{% endblock page_title %}

{% block styles %}
<link href="{% static 'edove/css/tryout.css' %}" type="text/css" rel="stylesheet">
{% endblock styles %}

{% block nav %}
{% include 'tryout/snippets/navbar.html' %}
{% endblock nav %}

{% block content %}
<div class="px-5 py-4 my-2 mx-3" id="tryout-screen">
        <div class="tryout-question" style="flex: 1; min-width: 70%;">
            <div class="card-box p-5" id="question-box">
                <h1 style="border-bottom: 1px solid #C4C4C4; padding-bottom: .5rem;">TPA - Pertanyaan 1</h1>
                <img src="{% static 'edove/img/soal.png' %}" alt="" class="soal-img mt-3 mb-4">
                <div id="answers">
                    <div class="answer-package">
                        <input type="radio" name="answer" id="answer-1">
                        <label for="answer-1">Hanya Denny</label>
                    </div>
                    <div class="answer-package">
                        <input type="radio" name="answer" id="answer-2">
                        <label for="answer-2">Hanya Eka</label>
                    </div>
                    <div class="answer-package">
                        <input type="radio" name="answer" id="answer-3">
                        <label for="answer-3">Denny, Eka, dan Ani</label>
                    </div>
                    <div class="answer-package">
                        <input type="radio" name="answer" id="answer-4">
                        <label for="answer-4">Denny, Eka, dan Cinoy</label>
                    </div>
                    <div class="answer-package">
                        <input type="radio" name="answer" id="answer-5">
                        <label for="answer-5">Hanya Cinoy</label>
                    </div>
                </div>
            </div>
            <div class="mt-4" id="action-box">
                <button class="btn btn-primary" style="padding:0.5rem 2rem;">&lt;Soal Sebelumnya</button>
                <button class="btn btn-primary" style="padding:0.5rem 2rem;">Soal Selanjutnya&gt;</button>
            </div>
        </div>
        <div id="tryout-additional" class="ml-4" style="min-width: 30%;">
            <div class="card-box px-4 py-4" id="time-box">
                <h1>Waktu Tersisa</h1>
                <h1 id="time">01:59:59</h1>
            </div>
            <div class="card-box px-4 py-4 mt-4" id="questions">
                <h1>Nomor Soal</h1>
                <div>
                    <div class="soal-row">
                        <button class="soal-num have-ans">01</button>
                        <button class="soal-num">02</button>
                        <button class="soal-num">03</button>
                        <button class="soal-num">04</button>
                        <button class="soal-num">05</button>
                        <button class="soal-num">06</button>
                        <button class="soal-num">07</button>
                        <button class="soal-num">08</button>
                        <button class="soal-num">09</button>
                        <button class="soal-num">10</button>
                        <button class="soal-num">11</button>
                        <button class="soal-num">12</button>
                        <button class="soal-num">13</button>
                        <button class="soal-num">14</button>
                        <button class="soal-num">15</button>
                        <button class="soal-num">16</button>
                        <button class="soal-num">17</button>
                        <button class="soal-num">18</button>
                        <button class="soal-num">19</button>
                        <button class="soal-num">20</button>
                        <button class="soal-num">21</button>
                        <button class="soal-num">22</button>
                        <button class="soal-num">23</button>
                        <button class="soal-num">24</button>
                        <button class="soal-num">25</button>
                        <button class="soal-num">26</button>
                        <button class="soal-num">27</button>
                        <button class="soal-num">28</button>
                        <button class="soal-num">29</button>
                        <button class="soal-num">30</button>
                        <button class="soal-num">31</button>
                        <button class="soal-num">32</button>
                        <button class="soal-num">33</button>
                        <button class="soal-num">34</button>
                        <button class="soal-num">35</button>
                        <button class="soal-num">36</button>
                        <button class="soal-num">37</button>
                        <button class="soal-num">38</button>
                        <button class="soal-num">39</button>
                        <button class="soal-num">40</button>

                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock content %}

{% block script %}

{% endblock script %}