{% extends 'base/base.html' %}
{% load static %}

{% block page_title %}
Home
{% endblock page_title %}

{% block styles %}
<link href="{% static 'edove/css/styles.css' %}" type="text/css" rel="stylesheet">
{% endblock styles %}

{% block nav %}
{% include 'base/snippets/navbar.html' %}
{% endblock nav %}

{% block content %}

<!-- BUAT SETELAH LOGIN -->
{% if user.is_authenticated %}
    <div id="landing" class="px-5 py-4 mx-5">
        <div class="profile-container">
            <div class="card-box px-4 py-4">
                <div class="profile-head">
                    <img src="{% static 'edove/img/contohimg.jpg' %}" alt="Foto Profil" class="foto-profil mr-3">
                    <div>
                        <h3>Putri Salsabila Meong</h3>
                        <h6>SMAN 2 Depok</h6>
                    </div>
                </div>
                <div class="profil-body mt-3">
                    <div class="row">
                        <div class="col">
                            <h4>Universitas Tujuan</h4>
                            <h5>Universitas Indonesia</h5>
                        </div>
                        <div class="col">
                            <h4>Jurusan Tujuan</h4>
                            <h5>Ilmu Komputer</h5>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="row">
                        <div class="col">
                            <h4>Asal Provinsi</h4>
                            <h5>Jawa Barat</h5>
                        </div>
                        <div class="col">
                            <h4>Asal kota/Kabupaten</h4>
                            <h5>Kota Depok</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-box px-4 py-4 mt-4">
                <h1 class="mb-3">Histori</h1>
                <p>Ikut ujian <b>TPA</b> pada 12 April 2020</p>
                <p>Ikut ujian <b>TPS</b> pada 01 April 2020</p>
                <p>Ikut ujian <b>TPA + TPS</b> pada 01 April 2020</p>
                <p>Ikut ujian <b>TPA + TPS</b> pada 03 April 2020</p>
            </div>
        </div>
        <div class="test-container ml-4" style="display: flex; flex: 1;">
            <div class="card-box px-4 py-4" style="flex: 2;">
                <h1 class="mb-3">Silahkan <b>pilih jenis ujian</b> yang kamu inginkan!</h1>
                <div style="display: flex; flex-direction: row; flex-grow: 1;" id="card-container"> 
                    <a href="/tryout/" class="ujian-card" id="tpa"><h1>TPA</h1></a>
                    <a class="ujian-card mx-4" id="tps" href="/tryout/"><h1>TPS</h1></a>
                    <a href="/tryout/" class="ujian-card" id="tpa-tps"><h1>TPA + TPS</h1></a>
                </div>
            </div>
        </div>
        <!-- <div class="container" style="padding-top: 15vh;">
            <div class="row">
                <div class="col-6 col-md-4">
                    <div class="profil-box">
                        <div class="row">
                            <div class="col-6 col-md-4"><img src="{% static 'edove/img/contohimg.jpg' %}" alt="Foto Profil" class="foto-profil"></div>
                            
                            <div class="col-12 col-md-8">
                                <h3>Putri Salsabilla Meong</h3>
                                <h6>SMAN 2 Depok</h6>
                            </div>
                        </div>
                        
                        <div class="row" style="margin-top: 10px;">
                            
                        </div>
                    </div>
                    
                    <div class="histori-box">
                        <h1>Histori</h1>
                        <p>Ikut ujian <b>TPA</b> pada 12 April 2020</p>
                        <p>Ikut ujian <b>TPS</b> pada 01 April 2020</p>
                        <p>Ikut ujian <b>TPA + TPS</b> pada 01 April 2020</p>
                    </div>
                </div>
                
                <div class="col-12 col-md-8">
                    <div class="ujian-box">
                        <h1>Silahkan pilih jenis ujian yang kamu inginkan!</h1>
                        
                        <div class="row">
                            <div class="col pilih-ujian">
                                <div class="pilih-tpa">
                                    <h1>TPA</h1>
                                    <p>skor: -</p>
                                </div>
                            </div>
                            
                            <div class="col pilih-ujian">
                                <div class="pilih-tps">
                                    <h1>TPS</h1>
                                    <p>skor: 97</p>
                                </div>
                            </div>
                            
                            <div class="col pilih-ujian">
                                <div class="pilih-tpas">
                                    <h1>TPA + TPS</h1>
                                    <p>skor: 90</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

<!-- BUAT SEBELUM LOGIN -->

{% else %}
    <div id="landing">
        <div class="container-fluid">
            <img class="vector-coklat" src="{% static './edove/img/vectorcoklat.png' %}" alt="Vektor Bercak Coklat">
            <img class="img-tangan" src="{% static './edove/img/menulisedove.png' %}" alt="Gambar Tulis Tangan Edove">
            <div class="container">
                <div class="title-landing">
                    <h3>Try Out Online UTBK EDOVE 4.0</h3>
                </div>
                <div class="sub-title-landing">
                    <h6>Uji kepahamanmu dalam menghadapi UTBK dengan mengikuti Try Out Online UTBK gratis dari EDOVE. Siap meraih nilai tinggi di UTBK bersama EDOVE!</h6>
                </div>
                <a href="" class="btn-daftar">Daftar</a>
            </div>
        </div>
    </div>
{% endif %}

{% endblock content %}

{% block script %}

{% endblock script %}