{% load static %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark px-5" style="color: #F7F7FA;">
    <a class="navbar-brand" href="/"><img src="{% static 'edove/img/edove-logo-white.png' %}" alt="" style="height:40px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto" >
        <li class="nav-item navbutton-right {% if current == 'home' %}current my-1{% endif %}">
            <a class="nav-link" href="/">Beranda</a>
        </li>
        <li class="nav-item navbutton-right">
            <a class="nav-link" href="/about">Tentang Kami</a>
        </li>
        <li class="nav-item navbutton-right">
            <a class="nav-link" href="https://edoveindonesia.com/">Website Official</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a class="btn btn-primary" href="{% url 'logout' %}" style="padding:0.5rem 2rem;">Keluar</a>
        </li>
        {% else %}
        <li class="nav-item navbutton-right {% if current == 'login' %}current my-1{% endif %}">
            <a class="nav-link" href="{% url 'masuk' %}">Masuk</a>
        </li>
        <li class="nav-item navbutton-right">
            <a class="btn btn-primary" href="{% url 'signup' %}" style="padding:0.5rem 2rem;">Daftar</a>
        </li>
        {% endif %}
    </ul>
    </div>
</nav>

