{% extends 'base/base.html' %}

{% block page_title %}
EDOVE INDONESIA || Persiapan Menuju UTBK
{% endblock page_title %}

{% block style %}

{% endblock style %}

{% block content %}
<div class="container-fluid">
    <div class="img-tangan">
        <img src="{% static './web/img/menulisedove.png' %}" alt="Gambar Tulis Tangan Edove">
    </div>
    <div class="vector-coklat">
        <img src="{% static './web/img/vectorcoklat.png' %}" alt="Vektor Bercak Coklat">
    </div>
</div>
{% endblock content %}

{% block script %}

{% endblock script %}