{% extends 'base/base.html' %}

{% block page_title %}
Profil
{% endblock page_title %}

{% block style %}

{% endblock style %}

{% block nav %}
{% include 'base/snippets/navbar.html' %}
{% endblock nav %}

{% block content %}
<div class="container mt-5">
    {% comment %}
    <p>email : {{ user }}</p>
    {% endcomment %}
    <p>Nama Lengkap : {{ user.nama_lengkap }}</p>
    <p>Asal Sekolah : {{ user.edovesiswa.asal_sekolah }}</p>
    <p>Asal Provinsi : {{ user.edovesiswa.asal_provinsi }}</p>
    <p>Asal Kota : {{ user.edovesiswa.asal_kota }}</p>
    <p>Jurusan tujuan: {{ user.edovesiswa.jurusan_1 }}, {{ user.edovesiswa.jurusan_2 }}</p>
</div>
{% endblock content %}

{% block script %}

{% endblock script %}