{% extends 'base/base.html' %}
{% load static %}

{% block page_title %}
Registrasi
{% endblock page_title %}

{% block styles %}
<link href="{% static 'edove/css/login.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'edove/css/registration.css' %}" type="text/css" rel="stylesheet">
{% endblock styles %}

{% block nav %}
{% include 'base/snippets/navbar.html' %}
{% endblock nav %}

{% block content %}
<div class="haha" style="display: flex; flex-direction: row; align-items: flex-start; justify-content: space-between;">
    <div class="mt-2 mx-5 form-section" style="height:100%">
        <div class="form-headline mt-5" style="display: flex; flex-direction: column; justify-content: center; align-self: flex-start;">
            <h1 id="form-text-main"><b style="font-weight: 700;">Pendaftaran </b>Akun</h1>
            <p class="pr-5 mr-4">Daftarkan dirimu untuk dapat mengakses ribuan soal latihan eksklusif dari EDOVE!</p>
        </div>

        <div class="form-body my-3 pr-4" style="height:100%">
        
            <form method="post" action="{% url 'masuk' %}">
                {% csrf_token %}
                <div class="form-container mb-4">
                    <label for="nama_lengkap">Nama Pengguna</label>
                    {{ form.nama_lengkap }}
                </div>
                <div class="form-container mb-4">
                    <label for="email">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-container mb-4">
                    <label for="asal_sekolah">Asal Sekolah</label>
                    {{ form.asal_sekolah }}
                </div>
                <div class="form-container mb-4">
                    <label for="kelas">Kelas</label>
                    {{ form.kelas }}
                </div>
                <div class="form-container mb-4">
                    <label for="asal_kota">Asal Kota</label>
                    {{ form.asal_kota }}
                </div>
                <div class="form-container mb-4">
                    <label for="asal_provinsi">Asal Provinsi</label>
                    {{ form.asal_provinsi }}
                </div>
                <div class="form-container mb-4">
                    <label for="universitas_tujuan">Universitas Tujuan</label>
                    {{ form.universitas_tujuan }}
                </div>
                <div class="form-container mb-4">
                    <label for="jurusan_1">Jurusan Pilihan 1</label>
                    {{ form.jurusan_1 }}
                </div>
                <div class="form-container mb-4">
                    <label for="jurusan_2">Jurusan Pilihan 2</label>
                    {{ form.jurusan_2 }}
                </div>
                <div class="form-container mb-4">
                    <label for="password1">Kata Sandi</label>
                    {{ form.password1 }}
                </div>
                <div class="form-container mb-4">
                    <label for="password2">Konfirmasi Kata Sandi</label>
                    {{ form.password2 }}
                </div>
                
                <div class="remember-me" style="display: flex; flex-direction: row;">
                    <input style="margin-top: 0.4rem; margin-right: 8px;" type="checkbox" id="ingatSaya">
                    <p>Dengan mendaftar, Anda menyetujui <a href="">Ketentuan Layanan dan Kebijakan Privasi*</a></p>
                </div>
                <div class="form-action mt-3" >
                    <button type="submit" class="btn btn-submit mb-3">Daftar</button>
                    <p>Sudah punya akun? <b><a href="/u/masuk">Masuk di sini</a></b></p>
                </div>
            </form>

        </div>
    </div>
    <div class="form-decorator">
        <div id="decorator-auth">
            <img src="{% static 'edove/img/edove-logo-white.png' %}" alt="" id="edove-resize-1">
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'edove/js/login.js' %}"></script>
<script src="{% static 'edove/js/registration.js' %}"></script>
{% endblock script %}