

.btn-submit{
    padding: 8px 20px;
    color: #FFFFFF;
    background-color: #DD9933;
    border-radius: 4px;
}

#form-text-main{
    font-size: 2rem!important;
}

label{
    font-size: 10pt;
    color: #8E8E8E;
}

.form-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-unit{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #343a40;
    background-color: rgb(241, 241, 241);
    padding-left: 0;
}

.form-unit:focus{
    padding-left: 0;
    border-color: #343a40;
    box-shadow: none;
    background-color: rgb(241, 241, 241);
}

.form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#decorator-auth {
    color: #fbfbfb;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 822px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/static/edove/img/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#edove-resize-1{
    height: 138px;
}

@media(max-width: 768px){

    #decorator-auth{
        display: none;
    }

    #decorator-auth img{
        display: none;
    }
}

@media(max-width: 1024px){
    #form-text-main{
        font-size: 1.5rem!important;
    }
}
