body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(241, 241, 241);
    color: #272930;
    min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(224, 224, 224);;   
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);; 
  }

p{
    font-size: 12pt;
    color: #525252;
}

a{
    color: #DD9933;
}

.navbar-dark .navbar-nav .nav-link{
    color: #F7F7FA;
}

.nav-item{
    margin: 0 0.5rem;
}

.navbar-dark{
    background-color: #272930!important;
}

.btn-primary, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus{
    background-color: #DD9933;
    border: none;
    box-shadow: none;
}

.btn-primary:hover{
    background-color: rgb(155, 109, 41);
}

.current{
    background-color: #212229!important;
    border-radius: 3px;
}

@media(max-width: 768px){
    .current{
        margin-bottom: 12px;
    }
}