body{
    overflow: hidden;
    height: 100vh;
}

.form-body{
    overflow-y: auto;
    overflow-x: hidden;
}

@media(max-width: 768px){
    body{
        overflow: visible;
        height: auto;
    }

    .form-body{
        overflow: visible;
    }
}