#landing {
    /* background-color: #E5E5E5; */
    padding-bottom: 10vh;
    display: flex;
    flex-direction: row;
}

.vector-coklat {
    position: absolute;
    top: 7vh;
    right: 0;
}

.img-tangan {
    position: absolute;
    top: 15vh;
    right: 0;
}

.title-landing {
    padding-top: 30vh;
    max-width: 500px;
    color: #2A292D;
}

.title-landing h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
}

.sub-title-landing {
    margin-top: 2vh;
    max-width: 465px;
    color: #525252;
}

.sub-title-landing h6 {
    font-size: 16px;
    line-height: 19px;
}

.btn-daftar {
    display: block;
    padding: 10px;
    margin-top: 10vh;
    border-radius: 0.2rem;
    width: 120px;
    text-align: center;
    background-color: #DD9933;
    text-decoration: none;
    color: #fff;
    -webkit-transition-duration: 0.5s;
}

.btn-daftar:hover {
    background-color: rgb(167, 110, 25);
    text-decoration: none;
    color: #fff;
    -webkit-transition-duration: 0.5s;
}

.card-box{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1.5em;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-head{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
}

.profile-head div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foto-profil {
    width: 100px;
    height: 100px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.card-box h1{
    font-size: 20pt;
    line-height: 29px;
}

.card-box h3{
    font-size: 18pt;
    line-height: 29px;
}

.card-box h6 {
    font-weight: 300;
    font-size: 14pt;
    line-height: 19px;
}

.card-box h4 {
    font-size: 10pt;
    line-height: 15px;
    color: #9E9E9E;
}

.card-box h5 {
    font-weight: 300;
    font-size: 12pt;
    line-height: 19px;
}

.card-box p {
    font-size: 12pt;
    line-height: 19px;
}

.pilih-ujian {
    padding: 2px 15px;
}

.ujian-card h1 {
    color: #F7F7FA;
    font-size: 20pt;
    line-height: 39px;
}

.profile-container{
    display: flex;
    flex-direction: column;
}

.ujian-card{
    padding: 0 5rem;
    border-radius: 1.5em;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

a:hover{
    text-decoration: none!important;
}

.ujian-card:hover{
    cursor: pointer;    
}

.ujian-card h1{
    text-align: center;
}

#tpa{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/static/edove/img/chris-liverani-ViEBSoZH6M4-unsplash.jpg');
}

#tpa:hover{
    background-image: linear-gradient(to top, rgba(49, 49, 49, 0.65), rgba(49, 49, 49, 0.65)), url('/static/edove/img/chris-liverani-ViEBSoZH6M4-unsplash.jpg');
    
}

#tps{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/static/edove/img/sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg');
}

#tps:hover{
    background-image: linear-gradient(to top, rgba(49, 49, 49, 0.65), rgba(49, 49, 49, 0.65)), url('/static/edove/img/sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg');
}

#tpa-tps{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/static/edove/img/annie-spratt-fvaB1MK6NxM-unsplash.jpg');    
}

#tpa-tps:hover{
    background-image: linear-gradient(to top, rgba(49, 49, 49, 0.65), rgba(49, 49, 49, 0.65)), url('/static/edove/img/annie-spratt-fvaB1MK6NxM-unsplash.jpg');    
}



@media (max-width: 1200px) {
    .img-tangan, .vector-coklat {
        visibility: hidden;
    }

    #landing{
        flex-direction: column;
        padding-left: 0!important;
        padding-right: 0!important
    }

    .test-container{
        margin-top: 1rem!important;
        margin-left: 0!important;
    }

    #card-container{
        display: block!important;
        flex-direction: column!important;
    }

    .ujian-card{
        width: 100%;
        height: 30vh!important;
    }

    #tps{
        margin: 1rem 0!important;
    }
}

@media (max-width: 320px){

    .profile-head{
        flex-direction: column;
        align-items: center;
    }

    .profile-head div{
        text-align: center;
        margin-top: 1rem!important;
    }

    .foto-profil{
        margin-right: 0!important;
    }


}