.img-box {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 20vh;
    left: 10vw;
    background-color: #cc7b35;
}

.vector-coklat {
    position: absolute;
    top: 200vh;
    left: 10vw;
    height: 200px;
    width: 200px;
    background-color: #cc7b35;
}

.tes1 {
    position: absolute;
    top: 10px;
    left: 10vw;
    height: 200px;
    width: 200px;
    background-color: #7c8a9f;
}