body{
    background-color: #F7F7FA;
}

label{
    margin-left: .5rem;
    margin-bottom: 0;
    font-size: 12pt;
}

input[type=radio]{
    width: 16px;
    height: 16px;
}

.navbar-dark{
    background-color: #F1F1F1!important;
}

.navbar-toggler{
    background-color: #272930!important;

}

.card-box{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1em;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-box h1{
    font-size: 18pt;
    font-weight: 400;
}

.soal-num{
    background-color: rgb(226, 226, 226);
    border: none;
    padding: .6rem .6rem;
    margin-right: .2rem;
    margin-bottom: .3rem;
}

.soal-num:hover{
    background-color: rgb(211, 211, 211) ;
}

.have-ans{
    background-color: #ACF3B3;
}

.have-ans:hover{
    background-color: rgb(149, 211, 155);
}

.soal-img{
    width: 100%;
    height: auto;
}

.answer-package{
    margin: .3rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#questions{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#tryout-screen{
    display: flex;
    flex-direction: row;
}

#answers {
    display: flex;
    flex-direction: column;
}

#action-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#time{
    margin-bottom: 0;
    font-size: 32pt;
    font-weight: 700;
}

@media(max-width:1024px){
    #tryout-screen{
        flex-direction: column;
        padding: 1.5rem .5rem !important;
    }

    #tryout-additional{
        margin: 0!important;
        margin-top: 1rem!important;
    }
}

@media(max-width:575px){
    #action-box{
        flex: 1;
        align-items: flex-start;
        flex-direction: column;
    }

    #action-box .btn-primary{
        width: 100%;
        margin-bottom: 1rem;
    }
    
}

